frontend/.metadata
frontend/android/java_pid20780.hprof
frontend/android/java_pid21456.hprof
frontend/android/java_pid29212.hprof
frontend/linux/flutter/generated_plugin_registrant.cc
frontend/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
frontend/linux/flutter/generated_plugin_registrant.h
frontend/linux/flutter/generated_plugins.cmake
frontend/macos/Flutter/ephemeral/flutter_export_environment.sh
frontend/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
frontend/windows/flutter/generated_plugin_registrant.cc
frontend/windows/flutter/generated_plugin_registrant.h
frontend/windows/flutter/generated_plugins.cmake

.idea